.item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 100px;
    min-height: 100px;
    
}

.subContainer{
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.details{
    display: flex;
    align-items: center;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    justify-content: space-around;
    width: auto;
    height: auto;
}


.image{
    object-fit: cover;
    width: auto;
    height: 100%;
}

.title{
    text-align: center;
    margin: 0;
    width: 100px;
}

.price{
    width: 80px;
    text-align: center;
}

.quantity{
    display: flex;
    gap: 5px;
    align-items: center;
}

.quantity span {
    width: 50px;
    text-align: center;
}

.btn{
    border-radius: 100%;
    border: none;
    width: 20px;
    height: 20px;
    background-color: var(--Dark_grayish_blue);
    color: var(--White);
    cursor: pointer;
}

.btnDel{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width : 550px) {
    .item{
        
    }
    .subContainer{
        flex-direction: column;
    }
    .actions{
        flex-direction: row;
    }
}