@import url('https://fonts.google.com/specimen/Kumbh+Sans');
.navbar{
    margin: 0 40px;
    padding: 40px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Light_grayish_blue);
}
.brand{
    margin: 0 10px;
    font-family: "Kumbh Sans";
    font-weight: 700;
    margin: 0 20px;
}
.links{
    
}
.link{
    margin: 0 10px;
    color: var(--Dark_grayish_blue);
    text-decoration: none;
}
.cart_profile{

}