.container{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 500px;
    justify-content: space-around;
}

.content a{
    color: rgb(1, 15, 143);
}

.section h3{
    margin-top: 0;
    font-size: 1.7rem;
}

.section p{
    font-size: 1.2rem;
}

.attributes{
    margin: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}