.container{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px;
    justify-content: space-between;
    overflow-x: hidden;
}

.productsList{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0 20px;
    justify-content: center;
    width: 100%;
    min-width: 700px;
}