.modal{
    position: fixed;
    background-color: var(--White);
    right: -100%;
    height: 100vh;
    width: 500px;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    overflow: hidden;
}

.show{
    right: 0;
}

.closed {
    right: -100%;
}

.content{
    padding: 0 10px;
    margin: 0 10px;
    width: 100%;
}

.close{
    padding: 10px;
    height: 20px;
    cursor: pointer;
}