.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileIcon{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header{
    color: var(--Dark_grayish_blue);
    padding: 10px;
    border-bottom: 1px solid var(--Light_grayish_blue);
}

.userDetails{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

.profileIconDetail{
    width: 70px;
}