@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
/*
- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)
*/
:root{

  --Very_dark_blue: hsl(220, 13%, 13%);
  --Dark_grayish_blue: hsl(219, 9%, 45%);
  --Grayish_blue: hsl(220, 14%, 75%);
  --Light_grayish_blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Gunmetal_gray : #818589;
}

body{
  margin: 0;
  box-sizing: border-box;
  background-color: var(--White);
  font-family: "Kumbh Sans";
}